.navbar-nav .nav-link.active, .navbar-nav .nav-link.show

 {
    color:var(--bs-nav-link-color);
}
.flex{
    display: flex;
    justify-content: center;   
    align-items: center;       
    margin-top: 2%;
}
.flex2{
    
}


